<template>
    <lightning-card> 
        <div
        class="slds-col slds-small-size_12-of-12 slds-medium-size_4-of-12 slds-large-size_2-of-12">
        <img src={news.imgLink} class="news-image" />
    </div>
    </lightning-card>
</template>